

.page-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.abc {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}


h2 {
  margin-bottom: 24px;
  color: #333;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.bt {
  width: 100%;
  padding: 12px;
  background-color: #5a67d8;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bt:hover {
  background-color: #434190;
}
